* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #F3EFE0;
}

.main-container {
    margin: 0 auto;
    width: 80%;
}

h1, h2 {
    color: #F3EFE0;
    font-family: Impact, sans-serif;
}

p {
    color: #F3EFE0;
    font-family: -apple-system, sans-serif;
}

a {
    text-decoration: none;
    border-bottom: 2px solid transparent;
    color: #F3EFE0;

    transition: all .2s ease-in-out;
}

a:hover {
    border-bottom-color: #EB9100;
    color: #EB9100;
}

/* ===================== NAVBAR ===================== */

nav {
    background-color: #222;
}

nav > div {
    padding: 20px 0;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .nav-links {
    display: flex;
    gap: 20px;
}


/* ############### Styles For The Home Page ##############  */

/*===================== Hero Banner =================== */
.theHeroBanner{
    height: 75vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("images/heroBanner.jpg");

}



/* ###################### SERVICES PAGE ###################### */

.service-section > p {
    font-size: 1.3em;
    margin-top: 10px;
    color: #222;
}

/* ====================== IMAGE BANNER ====================== */
.service-section {
    margin-top: 40px;
}
.service-section_banner {
    height: 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.service-section_banner h2 {
    font-size: 4em;
    text-shadow: 2px -2px 10px rgba(0, 0, 0, 0.45);
    letter-spacing: 3px;
}

.service-section > #tire-section {
    background-image: url("images/tire-image.jpg");
    background-position: 50% 25%;
}
.service-section > #general-section {
    background-image: url("images/general-service-image.jpg");
}

.service-section > #windshield-section {
    background-image: url("images/windshield.jpg");
}

/* ====================== SERVICE CARDS ====================== */
.service-section .service-section_cards {
    display: flex;
    gap: 30px;
    margin-top: 20px;
}
.service-section .service-section_cards .service-section_cards_card {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    padding: 10px 0;

    background-color: #222;
    text-align: center;
    border-radius: 3px;
}

.service-section .service-section_cards .service-section_cards_card i {
    color: #EB9100;
    font-size: 2em;
}

/* ======================= FOOTER ========================== */
footer {
    background-color: #222222;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}