* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}





/* ############### Styles For The Home Page ##############  */

/*===================== Hero Banner =================== */
.theHeroBanner{
    height: 75vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("images/heroBanner.jpg");

}
.heroBannerTextGroup{
padding: 10px;
position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.heroBannerTextGroup h1{
    font-size: 4em;
    color:#EB9100;
}
.heroBannerTextGroup p{

}

.heroBannerBtnGroup{
    margin-top: 10px;
}